# Example usage

To use `salesforce_tools` in a project:

In [1]:
import salesforce_tools
from salesforce_tools.salesforce_tools import SalesforceTools
import os

print(salesforce_tools.__version__)

0.1.0

In [5]:
# Authenticate with your credentials
user = 'crastello.py@gmail.com'
pw = os.environ.get('SFDC_PASS')
token = os.environ.get('SFDC_TOKEN')

sf = SalesforceTools(username=user,password=pw,security_token=token)

In [6]:
### Run a SOQL Query and return result as a df

soql = '''SELECT Id, Name, CloseDate, CreatedDate FROM Opportunity LIMIT 5'''

opps = sf.sf_api_query(soql=soql, dateList=['CloseDate','CreatedDate'],tz='America/Chicago')

In [7]:
opps.head()

,Id,Name,CloseDate,CreatedDate
0,006a50000004MBeAAM,Opportunity for Conner5,2024-08-28,2024-02-10 02:26:48
1,006a50000004MBfAAM,Opportunity for Chandler133,2024-06-06,2024-02-10 02:26:48
2,006a50000004MBjAAM,Opportunity for McDonald13,2024-01-10,2024-02-10 02:26:48
3,006a50000004MBkAAM,Opportunity for Jefferson17,2023-09-19,2024-02-10 02:26:48
4,006a50000004MBlAAM,Opportunity for McLaughlin130,2024-03-18,2024-02-10 02:26:48